.landing {
  background-image: url("./imgs/workstation.jpg");
}
.main_height {
  height: 900px;
}

tr {
  line-height: 1em;
}

.col {
  border: 1px solid black;
}
.row {
  padding-bottom: 3px;
}
li.borderless,
ul.borderless {
  border-top: 0 none;
}
